<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fitness Center</title>
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="../stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/lib/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>body{padding-top:10px;}.starter-template{padding:20px 15px;text-align:center;}</style>
    
    <!--[if IE]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    
    <div id="logregbuttons" class="container btn-div" >
        <a class="btn btn-own" data-toggle="modal" data-target="#loginModel">Login</a>
        <a class="btn btn-own" data-toggle="modal" data-target="#registerModel">Register</a>
    </div>
    <div id="welcomeMsgdiv" class="container btn-div" style="display:none">
        <span id="welcomeMsg">Welcome, Eswar</span>
        <button id="logout" type="button" class="btn btn-own" >Logout</button>
        
    </div>
    
    <div class="container box-color-gradient">
        <div class="row">
            <div class="col-xs-6 col-md-6 brand-img"> <h1 style="color:white"> Fitness Center </h1> </div>
        </div>
    </div>

    <div class="container">

        <div class="row starter-template ">
             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active"><img src="/images/seven.jpg" alt="First slide" width="100%" > </div>
                    <div class="item"> <img src="/images/six.jpg" alt="Second slide" height="200px" width="100%"> </div>
                    <div class="item"> <img src="/images/four.jpg" alt="Third slide" height="200px" width="100%   "> </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="icon-prev" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="icon-next" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
            </div>
        </div>
    </div>
    
    <!-- Personal Data -->
    <div>
        <div id="personal" class="row" style="display:none">
                <div class="col-sm-3"></div>
                <div class="col-sm-3">First Name</div>
                <div id="fnamediv" class="col-sm-6"></div>
            
                <div class="col-sm-3"></div>
                <div class="col-sm-3">Last Name</div>
                <div id="lnamediv" class="col-sm-6"></div>
            
                <div class="col-sm-3"></div>
                <div class="col-sm-3">Email</div>
                <div id="emaildiv" class="col-sm-6"></div>
            
                <div class="col-sm-3"></div>
                <div class="col-sm-3">Start Date</div>
                <div id="startdatediv" class="col-sm-6"></div>
            
            
                <div class="col-sm-3"></div>
                <div class="col-sm-3">Mobile</div>
                <div id="mobdiv" class="col-sm-6"></div>
        </div>
    </div>
    
    <div class="container">
	    <div class="row">
            <div class="col-sm-4 col-xs-4 col-md-4" data-toggle="modal" data-target="#myModal1">
                <div class="box"> <div class=" box1-image img-hover"></div></div>
            </div>
            <div class="col-sm-4 col-xs-4 col-md-4" data-toggle="modal" data-target="#myModal2"> 
                <div class="box"><div class=" box2-image img-hover"></div></div>
            </div>
            <div class="col-sm-4 col-xs-4 col-md-4" data-toggle="modal" data-target="#myModal3"> 
                <div class="box"><div class="box3-image img-hover"></div></div>
	       </div>
        </div>
    </div>
        
 <div class="container footer-div">
    ©2016  Fitness Eswar Ramisetti, All rights reserved.
 </div>
      
<!-- Modal fitness-->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fitness</h4> </div>
            <div class="modal-body">
                <p> We have estabilished a well finied equipment to zym and play to stay fit all the time.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
       
<!-- Modal training-->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Training</h4> </div>
            <div class="modal-body">
                <p>We are providing the world class training to gain/loose weight.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  <!-- Modal help-->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <button type="button " class="close " data-dismiss="modal">&times;</button>
                <h4 class="modal-title ">Help</h4> </div>
            <div class="modal-body ">
                <p> Please post any queries through mail or phone.
                    <br/>Here are the details
                    <br/>
                    <br/> Mob: +91 9951797778, +91 7396165418
                    <br/> Email: ramisettirajulocal@gmail.com, mcavenkatesh@live.com
                    <br/> </p>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

                                                                          
<!-- Login Model-->
                                                                          
<div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1>
            <br>
           <form id="formLogin" action="javascript:login();" >
                <input id="user" type="email" name="user" placeholder="Username" required>
                <input id="loginpwd" type="password" name="pass" placeholder="Password" required>
                <input type="submit" name="login" class="login loginmodal-submit" value="Login"> </form>
            <div class="login-help"> <a href="#">Register</a> - <a href="#">Forgot Password</a> </div>
            <div id="failure"></div>
        </div>
    </div>
</div>
        
<!-- Register Model-->
                                                                          
<div class="modal fade" id="registerModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Register</h1>
            <br>
            <form id="formregister" action="javascript:register();" >
                <input id="fname" type="text" name="fname" placeholder="First Name" required>
                <input id="lname" type="text" name="lname" placeholder="Last Name" required>
                <input id="email" type="email" name="email" placeholder="Email id (Username)" required>
                <input id="password" type="password" name="password" placeholder="Password" required>
                <input id="repassword" type="password" name="repassword" placeholder="Re-type Password" required>
                <input id="mob" type="number" name="mob" placeholder="Mobile Number" required>
                <input id="subbtn" type="submit" name="Register" class="login loginmodal-submit" value="Register"> </form>
        </div>
    </div>
</div>

<script src="../javascripts/lib/jquery.min.js"></script>
<script src="../javascripts/lib/bootstrap.min.js"></script>
 <script src="../javascripts/main.js"></script>
</body>
</html>
