<!-- Modal help-->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-info"">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Help</h4>
      </div>
      <div class="modal-body">
        <p> Please post any queries through mail or phone. <br/>Here are the details
          <br/><br/>
          Mob: +91 9951797778, +91 7396165418
            <br/>
          Email: ramisettirajulocal@gmail.com, mcavenkatesh@live.com
          <br/>
           </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>